*
{
  color:#d9d9d9 !important;
  text-decoration: none ;
  font-family:verdana !important;
  text-align:center !important;
  list-style:none !important;
	font-size:1.5vw;
	-moz-user-select: none !important;
   -khtml-user-select: none !important;
   -webkit-user-select: none !important;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none !important;
   user-select: none !important;
	cursor: default !important;
}
body
{
 background-color:#333333!important;
}
h1
{
	font-weight:bold !important;
  font-size:7vw !important;
  padding-bottom:0%;
}
#gh:hover, #ig:hover, #li:hover, #em:hover, #re:hover
{
  fill-opacity:0.4;
}
.social-icon
{
  fill:#d9d9d9;
}
#contact
{
	padding-top:0%;
}
#contact ul
{
  text-align:center;
}
#contact li
{
  display:inline-block;
}
#skills
{
	margin:0 15vw 0 15vw
}
ul
{
	padding:0;
}

