*
{
  color:#d9d9d9;
  text-decoration: none;
  font-family:verdana;
  text-align:center;
  list-style:none;
	font-size:1.5vw;
}
body
{
 background-color:#333333;
}
h1
{
  font-size:7vw;
  padding-bottom:0%;
}
#gh:hover, #ig:hover, #li:hover, #em:hover, #re:hover
{
  fill-opacity:0.4;
}
.social-icon
{
  fill:#d9d9d9;
}
#contact
{
	padding-top:0%;
}
#contact ul
{
  text-align:center;
}
#contact li
{
  display:inline-block;
}
#skills
{
	padding-left:15vw;
	padding-right:15vw;
}
ul
{
	padding:0;
}

